<!DOCTYPE html>
<html lang="en">
<head>
<title> Upload Marks</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
$(function() {
  $("#id_testname").autocomplete({
    source: "get_tests/",
    minLength: 2,
  });
});
</script>
<script>
$(function() {
  $("#id_studentname").autocomplete({
    source: "get_students/",
    minLength: 2,
  });
});
</script>
</head>

<body>

<h2> Upload Marks </h2>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{form.as_p}}
</table>
<input type="submit" value="Submit" />
</form>
</body>

</html>
